.header {
  grid-area: h;
  background: rgb(194, 255, 159);
}

.header img {
  width: 40px;
}

.loginBlock {
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.5rem 0.5rem 0 0;
  grid-gap: 20px;
}
