.nav {
  grid-area: n;
  background: rgb(135, 195, 255);
}

ul {
  padding-left: 10px;
  list-style: none;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.active {
  color: rgb(255, 217, 0);
}
