.nav {
  grid-area: n;
  background: rgb(135, 195, 255);
}

.list {
  margin: 16px 0;
  padding-left: 10px;
}

.list a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a.active {
  color: rgb(255, 217, 0);
}
