.friends {
  margin: 4px;
  padding-left: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';;
  font-size: 14px;
}

.friends_items {
  margin-top: 7px;
  height: 200px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: thin;
}
