.item {
  color: aqua;
  display: flex;
}

.item img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 1rem;
}

.message {
  margin: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.item span {
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 0 0.5rem;
}

.item p {
  margin: 0;
  color: brown;
}
