.friend {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: .2rem;
}

.friend_img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  justify-self: center;
}

.friend_name {
  justify-self: center;
}
